# setuptools_scm includes all files tracked by git so need to exclude some
exclude .gitignore
exclude .readthedocs.yml
exclude .travis.yml
exclude .zenodo.json
exclude azure-pipelines.yml
prune examples
